@page "/{id:int?}"
@model Ionescu_Andrei_Proiect.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductSupplier.ProductSupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductCategories)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductD.Products)
        {
            string selectedRow = "";
            if (item.ID == Model.ProductID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSupplier.ProductSupplierName)
            </td>
            <td>
                @{
                    foreach (var category in item.ProductCategories)
                    {
                        @category.Category.ID @: @category.Category.CategoryName <br />
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
